html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card{
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}

p {
    text-align: center;
}

h2 {
    text-align: end;
}

h3 {
    text-align: center;
}

header {
    display : flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

footer {
    text-align: center;
    padding: 2rem;
}